body
{
	background-color:RGB(191,191,191);
	margin:0;
}
h1
{
	color:RGB(114,45,14);
	font-family:仿宋;
}
.btn
{
	background-image:none;
    border:none;
	background-color:white;
    color:RGB(114,114,114);
    text-align:center;
	cursor:pointer;
	font-size:19px;
}